.preview{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
  &__img{
    max-width: 200px;
  }

  &__name{
    font-size: 1.5rem;
  }

  &__author{
    color: rgb(79, 79, 79);
    font-weight: normal;
    font-size: 0.8rem;
  }
}